<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>About Flask testing</title>
{% include 'include/head.html' %}
		<meta name="description" content="This site is made on the Flask framework. On the site's github, you can see the implementation of a particular function and page.">
	</head>
	<body>
		<h1>About Flask testing</h1>
		<p>This site is made on the Flask framework. On the site's github, you can see the implementation of a particular function and page.</p>
{% include 'include/footer.html' %}
	</body>
</html>