		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- CSS -->
		<link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet">
		<!-- Favicon -->
		<link rel="shortcut icon" sizes="64x64" type="image/png" href="{{ url_for('static', filename='icon/favicon64.png') }}"/>
		<link rel="shortcut icon" sizes="48x48" type="image/png" href="{{ url_for('static', filename='icon/favicon48.png') }}"/>
		<link rel="shortcut icon" sizes="32x32" type="image/png" href="{{ url_for('static', filename='icon/favicon32.png') }}"/>