<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Flask testing</title>
{% include 'include/head.html' %}
		<meta name="description" content="Flask testing site">
	</head>
	<body>
		<h1>Flask testing</h1>
		<p>Hello World! <br>Your IP is {{ ip }} and you are using {{ browser }}</p><hr>
		<p><strong>Flask</strong> - a <i>Python</i> programming language framework for creating websites.</p>
		<p>Example code:</p>
		<script src="https://gist.github.com/0Nera/c7b28b18336fea6ef625b3934e9f4438.js"></script>
		<br>
		<p>Here is the content of the site:</p>
		<ul>
			{% for url, endpoint in links %}
			<li><a href="{{ url }}">{{ endpoint }}</a></li>
			{% endfor %}
		</ul>
{% include 'include/footer.html' %}
	</body>
</html>